<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink = "/dashboard">Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink = "/heroes">Home</a></li>
      <li><a routerLink = "/about">About</a></li>
	  <li><a routerLink = "/contact">Contact US</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out" (click)="logOut()"></span>Log Out</a></li>
      </ul>
    
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      
<h4>Read Book</h4>
<div class="card card-default">
  <div class="card-header">Header</div>
  <div class="card-body card-6-6">
    <div class="card-left">
      <img src="./assets/images/angular6.jpg" class="img-responsive">
    </div>
    <div class="card-right">
      <h1>Heading</h1>
      <p>A book to read about life</p>
    </div>
  </div>
  <div class="card-body">
    <p>Ea est appetere honestatis, pri at definiebas repudiandae, no his adhuc omnium commodo. Duo tritani suscipit voluptatibus ut, pro ei dicit euismod impedit. An nulla similique qui. Soluta nostrum ea eos, summo falli ea nec.</p>
  </div>
  <div class="card-footer">Footer</div>
</div>

    </div>  
    <div class="col-sm-4">
   
<h4>7:5 column layout - Minimum</h4>
<div class="card card-default">
  <div class="card-body card-7-5">
    <div class="card-left">
      <img src="./assets/images/ngbook.jpg" class="img-responsive">
    </div>
    <div class="card-right">
      <h2>Heading</h2>
      <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.  I have seen the future, and it works.</p>
    </div>
  </div>
</div>

    </div>
    <div class="col-sm-4">
   
<h4>Single column layout</h4>
<div class="card card-default">
  <div class="card-body">
      <p class="lead">Burning the candle from both ends.</p>
      <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.  I have seen the future, and it works.</p>
  </div>
</div>
    
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
  
<h4>5:7 column layout</h4>
<div class="card card-default">
  <div class="card-header">Header</div>
  <div class="card-body card-5-7">
    <div class="card-left">
      <img src="./assets/images/angularbook.jpg" class="img-responsive">
    </div>
    <div class="card-right">
      <h4>Heading</h4>
      <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
    </div>
  </div>
  <div class="card-footer">Footer</div>
</div>

    </div>
    <div class="col-sm-4">

<h4>Card with Image heading</h4>
<div class="card card-default">
  <div class="card-header">Image card</div>
  <div class="card-img">
    <img src="./assets/images/angularinterview.jpg" class="img-responsive">
  </div>
  <div class="card-body">
    <h4>Heading One Two Three</h4>
    <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
    <p><a href="#">More...</a></p>
  </div>
</div>
      
    </div>
    <div class="col-sm-4">

<h4>Linked Image Card</h4>
<div class="card card-default">
  <a href="#" class="card-link">
    <span class="card-img">
      <img src="./assets/images/angularquestion.jpg" class="img-responsive">
    </span>
    <span class="card-body">
      <span class="h3 heading">Heading</span>
      <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
    </span>
  </a>
</div>
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
  
<h4>Price Card</h4>
<div class="card card-price">
  <div class="card-img">
    <a href="#">
      <img src="./assets/images/ang.png" class="img-responsive">
      <div class="card-caption">
        <span class="h2">Big Item</span>
        <p>100% silk</p>
      </div>
    </a>
  </div>
  <div class="card-body">
    <div class="price">$20 <small>each</small></div>
    <div class="lead">Wrap yourself in luxury</div>
    <ul class="details">
      <li>A stitch in time saves nine.</li>
      <li>All good things come to those who wait.</li>
      <li><b>Shipping:</b> $10 in USA, $15 outside USA</li>
    </ul>
    <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
      Buy now <span class="glyphicon glyphicon-triangle-right"></span>
    </a>
  </div>
</div>
    </div>
    <div class="col-sm-4">
  
<h4>Price Card with table of items</h4>
<div class="card card-price">
  <div class="card-img">
    <a href="#">
      <img src="./assets/images/ang.jpg" class="img-responsive">
      <div class="card-caption">
        <span class="h2">Many Items</span>
        <p>Gluten free</p>
      </div>
    </a>
  </div>
  <div class="card-body">
    <div class="lead">So many choices.</div>
    <ul class="details">
      <li>A stitch in time saves nine.</li>
      <li>All good things come to those who wait.</li>
      <li>There's a pony in that pile.</li>
    </ul>
    <table class="table">
      <tr><th></th><th>Price</th><th>Shipping</th></tr>
      <tr><td>Small</td><td class="price">$20</td><td class="note">$3 ground service</td></tr>
      <tr><td>Medium</td><td class="price">$30</td><td class="note">$6 ground service</td></tr>
      <tr><td>Large</td><td class="price">$45</td><td class="note">$7 ground service</td></tr>
    </table>
    <a href="#" class="btn btn-primary btn-lg btn-block buy-now">
      Buy now <span class="glyphicon glyphicon-triangle-right"></span>
    </a>
  </div>
</div>
      </div>
  </div>
  

<!-- /container --></div>

<div class="container"><div class="row">
  <div class="col-sm-12"><div class="page-footer">
  </div></div>
</div></div>