 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink = "/dashboard">Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink = "/heroes">Home</a></li>
      <li><a routerLink = "/about">About</a></li>
	  <li><a routerLink = "/contact">Contact US</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out" (click)="logOut()">Log Out</span></a></li>
      </ul>
    
  </div>
</nav>

<div class="col-md-4">
<div class="form-group">
  <label for="power">Hero Power</label>
  <select class="form-control"  id="power" (change)="filterChanged($event.target.value)" required>
  <option value="0">--All--</option>
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
</div>
</div>
<button class="btn btn-danger" (click)="download($event)">Download</button>
<div class="col-md-12">
  <h2> User Details</h2>
  <button class="btn btn-success" (click)="addUser($event)"> Add User</button>
  <button class="btn btn-danger" (click)="delete($event)">Delete</button>
  <table class="table table-striped" id="myTable">
    <thead>
    <tr>
      <th class="hidden">Id</th>
	  <th>Checked</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i= index;">
      <td class="hidden"></td>
	  <td><input type="checkbox" [(ngModel)]="user.Selected" name="user.Selected{{i}}" [disabled] = "user.editMode"></td>
      <td><input type="text" class="form-control" name="user.firstName{{i}}" [(ngModel)]="user.firstName" [disabled] = "user.editMode"></td>
      <td><input type="text" class="form-control" name="user.lastName{{i}}" [(ngModel)]="user.lastName" [disabled] = "user.editMode"></td>
      <td><input type="text" class="form-control" name="user.email{{i}}" [(ngModel)]="user.email" [disabled] = "user.editMode"></td>
      <td><button class="btn btn-danger" (click)="deleteUser(i)"> Delete</button>
        <button class="btn btn-success" (click)="editUser($event,i,user)" style="margin-left: 20px;"[value]="user.text">{{user.text}}</button></td>
    </tr>
    </tbody>
  </table>
</div>

